# ─── SSH / Server ─────────────────────────────────────────────────────────────
DEPLOY_HOST=
DEPLOY_USER=
DEPLOY_IDENTITY_FILE=~/.ssh/id_rsa
DEPLOY_BRANCH=master
DEPLOY_PATH=/var/www/api
DEPLOY_KEEP_RELEASES=5

# ─── Application ──────────────────────────────────────────────────────────────
DEPLOY_APP=api
DEPLOY_REPO=
DEPLOY_HTTP_USER=www-data

# ─── Remote DB ────────────────────────────────────────────────────────────────
DB_REMOTE_NAME=
DB_REMOTE_USER=
DB_REMOTE_PASSWORD=

# ─── Local DB ─────────────────────────────────────────────────────────────────
DB_LOCAL_NAME=budget
DB_LOCAL_USER=root
DB_LOCAL_PASSWORD=
